<main>
    <div class="container-calendar">
        <div id="calendar"></div>
    </div>

        <h2>Clientes do Dia</h2>
{{#each cadhorario}}
    <div class="card">
        <h3>{{nome_do_funcionario}}</h3>
        <hr>
        <p>{{nome_do_funcionario}}</p>
        <small>{{data_do_serviço}}</small>
        <small>{{horario}}</small>
    </div>
</main>
{{else}}
    <h3>Não há agendadamentos</h3>
{{/each}}