<div class="container-graphfunc">
    <div id="dados_funcionario">
        <div class="dados_funcionario">
            <div>
                <label for="fname">Primeiro Nome: </label>
                <input type="text" id="fname" name="fname" value="{{funcionario.nome}}" disabled>
            </div>
            <div>
                <label for="userName">Nome de usuario:</label>
                <input type="text" id="userName" name="userName" value="{{funcionario.userName}}" disabled>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{funcionario.email}}" disabled>
            </div>
            <div>
                <label for="diasDeTrabalho">Dias de Trabalho</label>
                <input type="text" id="diasDeTrabalho" name="diasDeTrabalho" value="{{funcionario.diasDeTrabalho}}"
                    disabled>
            </div>
            <div>
                <label for="aniversaio">Aniversário:</label>
                <input type="text" id="aniversaio" name="aniversario" value="{{funcionario.dataNasc}}" disabled>
            </div>
        </div>

        <div class="btns_funcionario">
            <div id="ativaFunc">
                <a href="">Ativar Funcionário</a>
            </div>

            <div id="desativaFunc">
                <a href="">Desativar Funcionário</a>
            </div>

            <div id="ExcluirFunc">
                <a href="/admin/perfil-funcionario/excluir/{{funcionario._id}}">Excluir Funcionário</a>
            </div>
        </div>
    </div>
    <div id="graph_funcionarios">
        <div class="dropdown_graph">
            <select name="Periodo" id="dropdow_periodo">
                <option>Anual</option>
                <option>Mensal</option>
                <option>Semanal</option>
                <option>Diário</option>
            </select>
        </div>
        <div id="Siqueira" style="height: 300px; width: 100%;"></div>
        <div class="dados-cortes">
            <label for="fname">Numero de cortes:</label>
            <input type="text" name="fname" id="fname" value="Gabriel" disabled>
        </div>
        <div class="download_graph">
            <img class="img2" src="/img/download.png" alt="download">
        </div>
    </div>
</div>